{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% tailwind_css %}
</head>
<body class="m-0 p-0 font-notosans">
    {% if messages %}
    <div class="absolute bottom-5 right-5">
        {% for message in messages %}
        <div class="
            alert
            border-l-8
            {% if message.tags == 'success'%}
                bg-[#5dd879] border-[#28a745]
            {% else %}
                bg-[#eb8c95] border-[#dc3545]
            {% endif %}
            w-[400px] flex text-black mb-3"
        >
            <p class="p-4 self-center">
                <i class="fa-solid fa-circle-exclamation text-xl mr-2 {% if message.tags == 'success'%}text-[#28a745]{% else %}text-[#dc3545]{% endif %}"></i>
                <span>{{message}}</span>
            </p>
            <p class="self-center ml-auto p-5 bg-slate-400 cursor-pointer hover:bg-slate-500 text-black" onclick="hideAlert()"><i class="fa-solid fa-xmark"></i></p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <header class="bg-slate-300">
        <div class="container mx-auto">
            <div class="flex justify-between">
                <div class="w-[200px]">
                    <a href="/"><img src="{% static 'images/logo.png' %}" alt="Manage Pro Logo" class="w-full"/></a>
                </div>
                <div class="self-center flex font-medium gap-3">
                    <a href="/" class="hover:text-ultravoilet ml-5">Home</a>
                    {% if user.is_authenticated %}
                    <a href="/dashboard" class="hover:text-ultravoilet ml-5">Dashboard</a>
                    <a href="/profile" class="hover:text-ultravoilet ml-5">Profile</a>
                    {% else %}
                    <a href="/accounts/login" class="hover:text-ultravoilet ml-5">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <main class="min-h-1/2">
        {% block body %}{% endblock body %}
    </main>

    <footer>
        <div class="container mx-auto py-5">
            <p class="text-center font-medium">&copy; 2023 ManagePro</p>
        </div>
    </footer>
    <script>
        function hideAlert(){
            alerts = document.getElementsByClassName('alert');
            alerts[0].classList.add('hidden');
        }
        setTimeout(function(){
            hideAlert();
        },5000);
    </script>
</body>
</html>